// Import all partials
@import 'variables';
@import 'base';
@import 'header';
@import 'hero';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contact';
@import 'footer';


body {
  font-family: var(--font-primary);
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text);
}
